@import "../../../../assets/styles/form";

.signup {
    padding: 120px 0;

    .container {
        display: flex;

        .signup-image {
            padding-top: 3px;
            margin-left: 185px;
        }
    }
}